:root {
  --theme-main: rgba(20, 86, 203, 1);
  --theme-light: rgba(166, 198, 255, 1);

  --text-primary: rgba(10, 43, 102, 1);
  --text-secondary: rgba(0, 0, 0, 0.7);
  --grey: rgba(0, 0, 0, 0.25);
  --grey-darker: rgba(0, 0, 0, 0.45);
  --grey-light: rgba(0, 0, 0, 0.1);
  --arrow-color: var(--theme-main);
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500&display=swap");

* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.2;
  margin: 0 auto;
}
